.team-wrapper {
    align-items: center;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #ffffff;
    flex-direction: column;
    font-size: 1rem;
    overflow: hidden;
}

#pokemon-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.search-container {
    text-align: center;
    width: 100%;
}

#pokemon-search {
    padding: 10px;
    width: 22%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#team-members {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 30vw;
}

.pokemon-info {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
}

.team-member {
    margin-top: -1px;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #eee;
    background-color: #ffffff;
    gap: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    justify-content: space-between;
    flex-grow: 1;
}

.team-member:hover {
    background-color: #f8f8f8;
}

.team-member img {
    width: 35px;
    height: 35px;
    margin-bottom: 3px;
}

#team-types {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}