@import "src/styles/variables";

.btn {
  font-family: "Inter", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  // Tag button variant
  &-tag {
    font-size: 0.8rem;
    font-weight: 600;
    background: none;
    border: 1px solid rgba(192, 192, 192, 0.75);
    position: relative;
    padding: 6px 12px;
    border-radius: 30px;
    cursor: default;
    color: $gray-600;
    width: auto;
    max-width: fit-content;
    margin: 0 auto;
  }

  // New button variant
  &-new {
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    background-color: rgba($fairy, 0.3);
    position: relative;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: default;
    color: $fairy;
  }

  // Secondary button variant
  &-secondary {
    color: $accent;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    background: none;
    padding: 0 5px 0 0;
    position: relative;
    display: inline-flex;
    align-items: center;

    img {
      margin-left: 3px;
      margin-bottom: 2px;
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: 0.5; /* Adds hover effect */
    }

    /* Remove Link-specific styles */
    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
    }
  }

  // Arrow button variant
  &-arrow {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    background: none;
    padding: 0 5px 0 0;
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: 0.1s ease-in;

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      gap: 6px;
    }

    img {
      height: 11px;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      opacity: 0.8;

      img {
        transform: translateX(4px);
      }
    }
  }
}