@import '../variables';

.navbar {
  background-color: var(--background);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 80px;
  box-shadow: color-mix(in srgb, var(--background-black, #{$background-black}) 7%, transparent) 0 1px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    height: 100%;
    text-align: center;
  }

  &__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.8vw;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: {
      left: 0.5vw;
      right: 0.5vw;
    }
    transition: 0.1s ease-in;
    color: color-mix(in srgb, var(--primary )60%, transparent);

    &:hover {
      color: var(--text-primary);
    }

    &.active {
      color: var(--text-primary);
    }

    img {
      display: block;
      height: 1.2rem;
      margin-bottom: 0.5vh;
    }
  }

  &__link--pokedex {
    color: color-mix(in srgb, var(--accent )60%, transparent);

    &:hover {
      color: var(--accent);
    }

    &.active {
      color: var(--accent);
    }
  }

  .horizontalBar {
    height: 25px;
    width: 2px;
    background-color: color-mix(in srgb, var(--background-black, #{$background-black}) 7%, transparent);
    margin-right: 0.5vw;
  }

  .dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 1000;

    img {
      margin-top: 2px;
      width: 21px;
      height: 21px;
      transition: transform 0.2s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}