@import "../variables";

.pokemon-card {
  &--simple {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: rgba($gray-900, 0.075) 1px solid;
    box-shadow: none;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.05s ease-in;

    .pokemon-card__image {
      opacity: 0.7;
      width: 80px;
      height: auto;
    }

    &:hover {
      background-color: $background-alt;
      scale: 1.05;

      .pokemon-card__image {
        opacity: 1;
      }
    }
  }
}
