@import '../variables';

.pokemon-container {
  display: flex;
  width: 100%;
  gap: 1.5vw;
  flex-direction: column;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-input {
  color: var(--text-primary);
  width: 100%;
  max-width: 600px;
  background-color: var(--background);
  font-size: 1rem;
  padding: 1.2rem;
  border: color-mix(in srgb, var(--background-black, #{$background-black}) 7%, transparent) 1px solid;
  border-radius: 20px;

  &:hover {
    background-color: var(--background-alt);
  }

  &:focus {
    outline: none;
    border: color-mix(in srgb, var(--primary) 10%, transparent) 1px solid;
    background-color: var(--background-alt);
  }
}

.pokemon-grid-pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 1.5vw;
  justify-content: center;
}
