// Color Palette
$red-500: #E94F37;
$blue-500: #053EFF;
$yellow-500: #FFD200;
$gray-900: #090C10;
$gray-800: #2A2A2A;
$gray-600: #666666;
$white: #FFFFFF;
$gray-100: #F8F8F8;
$mint: #25d0ab;

// Pokemon types
$normal: #A8A77A;
$fire: $red-500;
$fighting: #B10F2E;
$dark: #705746;
$poison: #a177ff;
$ghost: #735797;
$dragon: #6610F2;
$fairy: #E34A6F;
$psychic: #FF99C9;
$rock: #D5BDAF;
$ground: #E2BF65;
$steel: #DBDBDB;
$grass: #3FB950;
$bug: #92977E;
$electric: $yellow-500;
$water: $blue-500;
$flying: #1E96FC;
$ice: #02CEFF;

// Semantic Colors
$primary: $gray-900;
$secondary: $red-500;
$accent: $blue-500;
$warning: $yellow-500;
$success: $blue-500;
$new-accent: #{$fairy};

// Text Colors
$text-primary: $gray-900;
$text-secondary: $gray-600;

// Background Colors
$background: $white;
$background-alt: $gray-100;
$background-black: $gray-900;

// Component-specific colors
$navbar-bg: $primary;
$navbar-text: $white;
$button-primary-bg: $secondary;
$button-primary-text: $white;


//dark-mode colors
$primary-dark: $white;
$secondary-dark: $red-500;
$accent-dark: $blue-500;
$warning-dark: $yellow-500;
$success-dark: $blue-500;

$text-primary-dark: $white;
$text-secondary-dark: $gray-600;

$background-dark: $gray-900;
$background-alt-dark: #161B22;
$background-black-dark: $gray-100;

$new-accent-dark: #{$mint};


:root {
  // Light mode color variables
  --primary: #{$primary};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --text-primary: #{$text-primary};
  --background: #{$background};
  --background-alt: #{$background-alt};
  --background-black: #{$background-black};
  --new-accent: #{$new-accent};
}

body.dark-mode {
  --primary: #{$primary-dark};
  --secondary: #{$secondary-dark};
  --accent: #{$accent-dark};
  --text-primary: #{$text-primary-dark};
  --background: #{$background-dark};
  --background-alt: #{$background-alt-dark};
  --background-black: #{$background-black-dark};
  --new-accent: #{$new-accent-dark};
}