@import 'variables';
@import 'components/navbar';
@import 'components/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  min-height: 100vh;
  background-color: $background;
  color: $text-primary;
  overflow-y: visible;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background;
}

main {
  flex: 1;
  background-color: $background;
  color: $text-primary;
  gap: 1.5vw;
}

h1, h2, h3 {
  font-family: "Mona Sans","Mona Sans Header Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 0;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin: 0;
  display: flex;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
}

p {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.first-home-container, .second-home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  align-items: center;
  padding: 80px 20%;;
  box-shadow: rgba($gray-900, 0.075) 0 1px;
  overflow-y: visible;
  overflow-x: hidden;
}

.second-home-container {
  background-color: $background-alt;
  margin-top: 1px;
}

.row {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  gap: 1.5vw;
}

.hover-card-wrapper {
  flex-grow: 1;
}

.black-card {
  width: 300px;
  min-height: 200px;
  background-color: $background-black;
  color: $white;
  margin-left: auto;
  text-align: end;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
  z-index: 1;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.hero {
  text-align: center;
}