.pokemon-item {
    width: auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #eee;
    gap: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.pokemon-item:hover {
    background-color: #f8f8f8;
}

.pokemon-image {
    width: 35px;
    height: 35px;
    margin-bottom: 3px;
}

.pokemon-name {
    flex-grow: 1;
    font-size: 1rem;
}

.pokemon-level {
    text-align: center;
    font-size: 0.9rem;
}

.pokemon-types {
    display: flex;
    gap: 0.5rem;
}

.pokemon-type {
    width: 55px;
    height: 12px;
    border-radius: 5px;
    background-color: #ccc;
}

.disabled {
    opacity: 0.3;
}
