<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>

    <link rel="stylesheet" href="../css/components/footer.css">
</head>
<body>
<footer class="footer">
    <div class="links">
        <ul>
            <li><a href="index.html"><img src="../assets/images/pokechkr-logo-black.png"></a></li>
            <li><a href="team-builder.html">Team Builder</a></li>
            <li><a href="gym-leader.html">Capipalestra</a></li>
            <li><a href="legend.html">Legenda</a></li>
        </ul>
    </div>
    <div class="rightsReserved">
        <p id="rights">© 2024 Pokéchkr. All rights reserved.</p>
    </div>
</footer>
</body>
</html>