<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>

    <link rel="stylesheet" href="../css/components/navbar.css">
</head>
<body>
<nav>
    <ul class="navSinistra">
        <li><a href="index.html"><img src="../assets/images/pokechkr-logo.png"></a></li>
        <li><a href="team-builder.html">Team Builder</a></li>
        <li id="capipalestra"><a href="gym-leader.html">Capipalestra <button class="btn-new">NEW</button></a></li>
    </ul>
    <ul class="navDestra">
        <li><a href="legend.html">Legenda</a></li>
    </ul>
</nav>
</body>
</html>